.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#logo1{
    width: 60px;
    height: 60px;
    margin: 10px;

}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

.previewContainer {
    border-radius: 5px;
    border: 1px dotted grey;
    padding: 5%;
    margin: 2%;
}

.logo{
    width: 50px;
    text-align: center;
}

.controls {
    padding: 2%;
    text-align: center;
    justify-content: space-between;
}

.controls button {
    width: calc(100%/4 - 6px);
    min-width: 150px;
    outline: none;
    height: 40px;
    font-size: 14px;
    border-radius: 3px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
    color: #fff;
    border-color: #4f4c5e;
    background: #4f4c5e;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#convertButton {
    pointer-events: none;
}

input[type="file"] {
    margin-bottom: 20px;
}

#svgPreview {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#svgPreview img {
    max-width: 200px;
    max-height: 200px;
}

#previewName {
    color: #4f4c5e;
}
.controls button:hover {
    background-color: #153e57;
}

@media screen and (max-width: 410px) {
    .controls button {
        width: calc(100% - 6px);
    }
}